# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file = "../output_data/summary.csv"
data = pd.read_csv(file)
data.head()

,City_ID,Cities,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,WindSpeed
0,0,kapaa,40,US,1584239847,61,22.08,-159.32,78.80,13.87
1,1,ushuaia,40,AR,1584239637,62,-54.80,-68.30,53.60,8.05
2,2,waingapu,28,ID,1584239682,72,-9.66,120.26,83.39,6.22
3,3,thompson,20,CA,1584239734,52,55.74,-97.86,-7.60,4.74
4,4,nouadhibou,0,MR,1584239608,82,20.93,-17.03,64.40,14.99

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [12]:
#Access mapgs with unique API key
gmaps.configure(api_key=g_key)
coordinates = zip(data["Lat"], data["Lng"])
coordinates = list(coordinates)

#find max humidity of dataset
max_humidity = data["Humidity"].max()

# Customize the size of the figure
figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid white',
    'padding': '1px',
    'margin': '0 auto 0 auto'}

fig = gmaps.figure(layout=figure_layout)

# Assign the marker layer to a variable
markers = gmaps.marker_layer(coordinates)

heat_layer = gmaps.heatmap_layer(coordinates, weights = data["Humidity"], dissipating = False, 
                                 max_intensity = max_humidity, point_radius = 1)
# Add the layer to the map
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid white', height='600px', margin='0 auto 0 auto', padding='1px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:
data.head()

,City_ID,Cities,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,WindSpeed
0,0,kapaa,40,US,1584239847,61,22.08,-159.32,78.80,13.87
1,1,ushuaia,40,AR,1584239637,62,-54.80,-68.30,53.60,8.05
2,2,waingapu,28,ID,1584239682,72,-9.66,120.26,83.39,6.22
3,3,thompson,20,CA,1584239734,52,55.74,-97.86,-7.60,4.74
4,4,nouadhibou,0,MR,1584239608,82,20.93,-17.03,64.40,14.99

In [14]:
# Create different filter criterias
temp_filter = (data["Max Temp"] < 80) & (data["Max Temp"] > 70)
wind_filter = data["WindSpeed"] < 10
cloud_filter = data["Cloudiness"] == 0

#create new df based on filters above
my_vacation = data.loc[(temp_filter & wind_filter & cloud_filter), :] 

my_coordinates = zip(my_vacation["Lat"], my_vacation["Lng"])
my_coordinates = list(my_coordinates)

#print filtered dataframe
my_vacation

,City_ID,Cities,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,WindSpeed
366,366,kongoussi,0,BF,1584240469,10,13.33,-1.53,76.98,9.78
412,412,oussouye,0,SN,1584240525,57,12.48,-16.55,78.80,4.70
475,475,santiago,0,CL,1584240430,37,-33.46,-70.65,71.60,8.05
505,505,crixas,0,BR,1584240641,90,-14.55,-49.97,71.55,3.15

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [15]:
# hotel_df = [Range(12)]
my_vacation["Hotel Name"] = ""

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key, 
    }

for index, row in my_vacation.iterrows():    
    lat = row["Lat"]
    long = row["Lng"]
    params["location"] = f"{lat},{long}"
       
    name_address = requests.get(base_url, params = params)
    name_address = name_address.json()
    my_vacation.loc[index, "Hotel Name"] = name_address["results"][0]["name"]

C:\Users\lolgu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [16]:
#convert hotel names to list
hotels = my_vacation["Hotel Name"].tolist()
cities = my_vacation["Cities"].tolist()
countries = my_vacation["Country"].tolist()

my_vacation

new_coordinates = zip(my_vacation["Lat"], my_vacation["Lng"])
new_coordinates = list(new_coordinates)

In [17]:

# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{Cities}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in my_vacation.iterrows()]
#locations = hotel_df[["Lat", "Lng"]]

hotel_layer = gmaps.marker_layer(
    new_coordinates, 
    info_box_content = hotel_info
)

fig = gmaps.figure()
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))